In [1]:
import fancypipes
from sklearn.datasets import load_boston, load_breast_cancer
from sklearn.linear_model import Lasso, LogisticRegression
import pandas as pd

## Regression

In [2]:
X, y = load_boston(return_X_y=True)
X = pd.DataFrame(X)
X.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [3]:
pipeline_steps = [("A Simple Regression", Lasso())]
fancy_pipeline = fancypipes.pipeline(steps=pipeline_steps)
fancy_pipeline.prep_pipeline(X, y)

In [4]:
fancy_pipeline.evaluate_k_folds(X, y, 3)

,AIC,MAE,MAPE,MdAE,MdAPE,RMSE,R^2 Score,record_count,fold
0,588.135176,3.720487,0.178276,2.608316,0.130937,5.298914,0.664519,168.666667,mean
1,571.031841,3.653338,0.184273,2.735404,0.141325,5.015435,0.665595,169.000000,1
2,609.723181,3.776837,0.174419,2.172992,0.117006,5.623710,0.668021,169.000000,2
3,583.650505,3.731285,0.176134,2.916553,0.134479,5.257597,0.659941,168.000000,3

In [5]:
fancy_pipeline.get_model_coefficients()

{0: -0.07756911044498341,
 1: 0.06680701636690949,
 2: -0.0,
 3: 0.0,
 4: -0.0,
 5: 0.7266375484449236,
 6: 0.034940088762680434,
 7: -0.7347954760773772,
 8: 0.3371618173889342,
 9: -0.019021708905257877,
 10: -0.609276269999249,
 11: 0.0075212596101442925,
 12: -0.7803458001564225}

## Classification

In [6]:
X, y = load_breast_cancer(return_X_y=True)
X = pd.DataFrame(X)
X.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [7]:
pipeline_steps = [("A Simple Classification", LogisticRegression())]
fancy_pipeline = fancypipes.pipeline(steps=pipeline_steps)
fancy_pipeline.prep_pipeline(X, y)

In [8]:
fancy_pipeline.evaluate_k_folds(X, y, 5)

,Accuracy,F1,Matt Corrcoeff,Precision,ROC-AUC,Recall,log-loss,record_count,fold
0,0.947229,0.957694,0.888024,0.949826,0.990832,0.965963,0.116895,113.8,mean
1,0.956140,0.965517,0.906811,0.945946,0.997707,0.985915,0.076400,114.0,1
2,0.982456,0.986842,0.961289,1.000000,0.998596,0.974026,0.070647,114.0,2
3,0.912281,0.930556,0.812147,0.917808,0.972486,0.943662,0.196445,114.0,3
4,0.964912,0.972222,0.925285,0.958904,0.996725,0.985915,0.086204,114.0,4
5,0.920354,0.933333,0.834587,0.926471,0.988644,0.940299,0.154777,113.0,5

In [9]:
fancy_pipeline.get_model_coefficients()

{0: 2.0245535857362706,
 1: 0.11960799174761405,
 2: 0.008961435908176689,
 3: -0.0029433861759153197,
 4: -0.14989429819629208,
 5: -0.4039796542911645,
 6: -0.5474107026581494,
 7: -0.2816796789967852,
 8: -0.17656402579520306,
 9: -0.030848545310870876,
 10: 0.012690166707225533,
 11: 0.977236593975177,
 12: 0.0856005527597657,
 13: -0.11072884509151076,
 14: -0.008657916992306789,
 15: 0.002196973360267944,
 16: -0.024901693722043632,
 17: -0.0285211926819674,
 18: -0.035340432340782366,
 19: 0.00483197789813466,
 20: 1.3942282559174415,
 21: -0.3314158166763658,
 22: -0.18336131581846257,
 23: -0.02583758663577694,
 24: -0.22817143243897253,
 25: -1.0720669387317379,
 26: -1.318688520707325,
 27: -0.5309416671046983,
 28: -0.5913514467392261,
 29: -0.11470341488432506}